@import  url(https://fonts.googleapis.com/css?family=PT Sans Caption);

h1 {
  text-align: center;
  padding: 1em;
  color: #604d53;
  font-weight:600;
  }

body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'PT Sans Caption';
  font-weight:400;
}

.container {
  width: 80%;
  padding: 1em, 5em 1em;
}
